{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'TaskList' %}">Go Home</a>
    <h3>Task: {{task}}</h3>
    <span><p>Delete this task?</p></span>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
</body>
</html>

{% endblock content %}
